<div class="positions_list">
    <ul>
        {% if objs %}
            {% for obj in objs %}
                <li class="position_li">
                    <div class="position">
                        <div class="p_top">
                            <a class="position_link" href="{% url 'search:detail' obj.position_id %}" target="_blank">
                                <h3>{{ obj.position_name }}</h3>
                                <span class="add">[ <em>{{ obj.city }} ▪ {{ obj.district }}</em> ]</span>
                            </a>
                            <span class="format-time">{{ obj.publish_date }}发布</span>
                        </div>
                        <div class="p_bot">
                            <div class="li_b_l">
                                <span class="money">{{ obj.salary }}</span>
                                <br/>
                                {{ obj.work_year }} / {{ obj.education }}
                            </div>
                        </div>
                    </div>
                    <div class="company">
                        <div class="company_name">
                            <a href="{% url 'search:company' obj.company_name 1 %}"
                               target="_blank">{{ obj.company_name }}</a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <div class="not_found">没有搜索到相关职位！！！</div>
        {% endif %}
    </ul>
</div>