{% extends "user/base_user_center.html" %}
{% load static from staticfiles %}
{% block title %}收货地址{% endblock %}
{% block extrajs %}
    <script type="text/javascript" src="{% static 'js/user_address.js' %}"></script>
{% endblock %}
{% block address %}class="active"{% endblock %}
{% block right%}
    <h3>收货地址</h3>
    <div class="user_info">
        <h4>当前地址：</h4>
        <ul class="address">
            {% comment %}            <li>北京市 海淀区 东北旺西路8号中关村软件园 （李思 收） 182****7528
                <div class="fr" style="margin-right: 70px;">
                    <a href="" class="oper_btn update">修改</a>
                    <a href="" class="oper_btn">删除</a>
                </div>
            </li>{% endcomment %}
            {% for add in adds %}
                <li>
                    {{ add.add }} （{{ add.recipients }} 收） {{ add.cel }}
                    <div class="fr" style="margin-right: 70px;">
                        <a href="?update_id={{ add.pk }}" class="oper_btn update">修改</a>
                        <a href="?del_id={{ add.pk }}" class="oper_btn">删除</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
    <h3>
        {% if add_id %}
            编辑地址
        {% else %}
            添加地址
        {% endif %}
    </h3>
    <div class="address_form">
        <form action="{% url 'user:edit_add' %}" method="post">
            {% csrf_token %}
            <label>收件人：</label>
            <input class="recipients"  type="text" name="recipients" value="{{ recipients }}"/>
            <span class="error"></span>
            <label>详细地址：</label>
            <textarea  class="add" name="add">{{ add }}</textarea>
            <span class="error"></span>
            <label>手机号：</label>
            <input class="cel" type="text" name="cel" value="{{ cel }}"/>
            <span class="error"></span>
            <label>邮编：</label>
            <input class="email" type="text" name="postcode" value="{{ postcode }}"/>
            <span class="error"></span>
            <input type="submit" class="info_submit" value="提交"/>
            <!--用于重定向到订单-->
            {% if request.GET.order %}
                <input type="text" hidden value="{{ request.COOKIES.order_url }}" name="order">
            {% endif %}
            <!--存储修改地址的pk-->
            {% if add_id %}
                <input type="text" hidden value="{{ add_id }}" name="update">
            {% endif %}
        </form>
    </div>
{% endblock %}