{% extends "user/base_user_center.html" %}
{% load static from staticfiles %}
{% block title %}个人信息{% endblock %}
{% block info %}class="active"{% endblock %}
{% block right%}
    <h3>基本信息</h3>
    <div class="user_info">
        <ul>
            <li>用 户 名：<span>{{ uname }}</span></li>
            <li>联系方式：<span>{{ ucel }}</span></li>
            <li>联系地址：<span>{{ uadd }}</span></li>
        </ul>
    </div>
    <h3>最近浏览</h3>
    <div class="view_list">
        <ul class="goods_list">
            {% for good in goods %}
                    <li>
                        <div>
                            <a href="{% url 'goods:detail' good.pk%}"><img src="{% static good.img_url %}"></a>
                            <h4><a href="{% url 'goods:detail' good.pk%}">{{ good.title10 }}</a></h4>
                            <div>
                                <span>￥</span><strong>{{ good.price }}</strong><span class="unit">{{ good.price }}/{{ good.unit_switch }}</span>
                                <a href="#" class="add_goods fr" title="加入购物车"></a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
        </ul>
    </div>
{% endblock %}